#navbar , #tagline, #contactForm input::placeholder,#contactForm textarea::placeholder,h2,h1
{
    font-family: 'Jost', sans-serif;
}
{
    font-family: 'Quicksand', sans-serif;
}
#title
{
    font-family: 'Anton',sans-serif;
}
div 
{
   /* border: 1px solid black;*/
}
html 
{
    scroll-behavior: smooth;
}
body
{
    margin:0;
    background-image: url("images/contact_bg.jpg");
}
#header
{
    width:100%;
    position:fixed;
    top:0;
    height:4vw;
    background-color:white; 
    z-index: 5;
    box-shadow:0 0 10px rgba(128,128,128,0.6);
}
#title,#navbar
{
    display:inline-block;
    height:4vw;
    margin:0 4vw 0 4vw;
}

#title div
{
    display: inline-block;
}
#logo
{
    height:3.6vw;
    width:4.8vw;
    overflow:hidden;
}
#logo img
{
    height:6vw;
}
#name
{
    vertical-align: top;
    font-size: 2vw;
    margin-top: 0.5vw;
    color:black;
}
#navbar
{
    float: right;
    font-size: 1.2vw;
}
.navOp
{
    display:inline-block;
}
.navOp>a
{
    display:block; 
    padding:1vw 2vw 1vw 2vw;
    text-decoration: none;
    color:#999999;     
}
.navOp a:hover
{
    color:#004499;
    text-shadow:0px 0px 10px #dddddd;
}
.dropdown
{
    position: absolute;
    display:none;
    min-width:10vw;
    background-color:white;
    box-shadow: 0px 0px 2px grey;
    padding:0.5vw 0 1vw 0;
}
.dropdown a
{
    display:block;
    padding:0.5vw 2.5vw 0.5vw 2vw;
    text-decoration: none;
    color:#888888;
}
#destinations:hover #destination-dropdown
{
    display:block;
}
#experiences:hover #experiences-dropdown
{
    display:block;
}

#contactForm
{
    background-color: white;
    box-shadow: 0 0 1vw rgba(0,0,0,0.6);
    position:absolute;
    border-radius: 1vw;
    top:12vh;
    left:55vw;
    padding: 1vw 5vw 2vw 5vw;
}
#contactForm input,#contactForm textarea
{
    padding: 2vh;
    margin:1vh;
    border-radius: 4vh;
    border:none;
    background-color: #dddddd;
    box-shadow: none;
    outline: none;
    width:15vw;
    font-size: 1vw;
}
h2{font-size: 2vw;margin-left: 1vw;}
h1{font-size:5vw;
width: 40vw;
padding: 5vw;
color:white;
text-shadow: 0 0 0.5vw rgba(0,0,0,0.9);}
